
#teamchart-free-div.default * {padding:0;margin:0;}
#teamchart-free-div.default {overflow: auto;
padding: 19px;}
#teamchart-free-div.default .person {cursor:pointer;width:100%;max-width:180px;display:block;background: #ffffff;margin:0 auto;
text-align: center;padding:4px;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;-moz-box-shadow: 1px 2px 2px 1px #d9d9d9;
-webkit-box-shadow: 1px 2px 2px 1px #d9d9d9;
-o-box-shadow: 1px 2px 2px 1px #d9d9d9;
box-shadow: 1px 2px 2px 1px #d9d9d9;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#d9d9d9, Direction=153, Strength=2);}

#teamchart-free-div.default .person:hover {-moz-box-shadow: 1px 2px 2px 1px #BBBBBB;
-webkit-box-shadow: 1px 2px 2px 1px #BBBBBB;
-o-box-shadow: 1px 2px 2px 1px #BBBBBB;
box-shadow: 1px 2px 2px 1px #BBBBBB;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#BBBBBB, Direction=153, Strength=2);}


#teamchart-free-div.default .person .image {width: 100%;height: auto;overflow: hidden;margin:0 auto;} 
#teamchart-free-div.default .person .image img {border-radius:0px;box-shadow:none;width: 100%;}
#teamchart-free-div.default .person .name {color:#3f4955;font-weight:bold; display: table;height:49px;width:100%; }
#teamchart-free-div.default .person .name p{display: table-cell; vertical-align: middle; text-align: center;}
#teamchart-free-div.default .person .Job {color:#BBBBBB;font-weight:300;font-size:12px;height: 16px;}


#teamchart-free-div.default ul {
	padding-top: 20px; position: relative;text-align:center;
	
}

#teamchart-free-div.default ul#first{padding-top: 0px;}

#teamchart-free-div.default li:only-child{
	text-align:center;
	padding: 20px 0;	
	width:100%;
}
#teamchart-free-div.default  li {	
	text-align:center;
	list-style-type: none;
	position: relative;
	padding: 20px 1%;
	vertical-align: top;
	display:inline-block;
	word-wrap: normal;
}




/*
Line connector parents
*/

#teamchart-free-div.default  li.parents::before{
		content: '';
	position: absolute; top: 25%; left:0;z-index:0;
	border-top: 3px solid #eceff4;border-left:0;border-right:0;
	width: 10%; height: 20px;
}

#teamchart-free-div.default  li.parents::after{
	content: '';
	position: absolute; top: 25%; right:0;z-index:0;left:auto !important;
	border-top: 3px solid #eceff4;border-left:0;border-right:0;
	width: 10%; height: 20px;
}

#teamchart-free-div.default li.parents:last-child::before{border-right:none;}
#teamchart-free-div.default li.parents:first-child::after{border-left:none;}






/*We will use ::before and ::after to draw the connectors*/

#teamchart-free-div.default #first li::before, #teamchart-free-div.default #first  li::after{
content: '' ;
position: absolute ;
bottom: 0 ;
top: auto;
right: 50% ;
border-bottom: 3px solid #eceff4 ;
width: 50% ;
border-top:none;
height: 15px ;
}

#teamchart-free-div.default #first li::after{
	right: auto; left: 50%;
	
}


#teamchart-free-div.default  li::before, #teamchart-free-div.default  li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 3px solid #eceff4;
	width: 50%; height: 20px;
}
#teamchart-free-div.default  li::after{
	right: auto; left: 50%;
	border-left: 3px solid #eceff4;
}





#teamchart-free-div.default  li.bloc::before, #teamchart-free-div.default  li.bloc::after,#teamchart-free-div.default ul ul.bloc::before{
	display: none;
}


/*We need to remove left-right connectors from elements without 
any siblings*/
#teamchart-free-div.default  li:only-child::after, #teamchart-free-div.default  li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
#teamchart-free-div.default  li:only-child{ padding-top: 0px;}

/*We need to remove left-right connectors from elements without 
any siblings*/
#teamchart-free-div.default li li:only-child::before {
	display: block;
	 right: 48%;
}

/*Remove space from the top of single children*/
#teamchart-free-div.default li li:only-child{ padding-top: 20px;}


/*Remove left connector from first child and 
right connector from last child*/
#teamchart-free-div.default  li:first-child::before, #teamchart-free-div.default  li:last-child::after{
	border: 0 none;
}


/*Adding back the vertical connector to the last nodes*/
#teamchart-free-div.default  li:last-child::before{
	border-right: 3px solid #eceff4;
}






/*We need to remove left-right connectors from elements without 
any siblings*/
#teamchart-free-div.default #first li:only-child::after, #teamchart-free-div.default #first li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
#teamchart-free-div.default #first li:only-child{ padding-top: 0px;}

/*We need to remove left-right connectors from elements without 
any siblings*/
#teamchart-free-div.default #first li li:only-child::before {
	display: block;
	 right: 48%;
}

/*Remove space from the top of single children*/
#teamchart-free-div.default #first li li:only-child{ padding-top: 20px;}


/*Remove left connector from first child and 
right connector from last child*/
#teamchart-free-div.default #first li:first-child::before, #teamchart-free-div.default #first li:last-child::after{
	border: 0 none;
}


/*Adding back the vertical connector to the last nodes*/
#teamchart-free-div.default  li:last-child::before{
	border-right: 3px solid #eceff4;
}





/*Time to add downward connectors from parents*/
#teamchart-free-div.default ul ul#first::before{
	content: none;
	position: absolute;top:auto !important; bottom: 0 !important; left: 50%;
	border-left: 3px solid #eceff4;
	width: 0; height: 20px;
}


#teamchart-free-div.default ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 3px solid #eceff4;
	width: 0; height: 20px;
}





#teamchart-free-div.default .col-2 {max-width:48%;}
#teamchart-free-div.default .col-3 {max-width:31%;}
#teamchart-free-div.default .col-4 {max-width:23%;}



@media (max-width:600px){
#teamchart-free-div.default ul li li li .Job,#teamchart-free-div.default ul li li li .name{
display:none !important;
}
#teamchart-free-div.default li li li.col-2 .image,#teamchart-free-div.default li li.col-4 .image ,#teamchart-free-div.default li li li.col-3 .image{
height:55px;
}
}

/*

LIGHTBOX

*/


#colorbox.default .person-fancybox .photo {width:40%;overflow:hidden;float:left;}
#colorbox.default .person-fancybox .photo img {width:100%;}
#colorbox.default .person-fancybox .text {float:left;width:58%;margin-left:2%;}
#colorbox.default .person-fancybox .text h2 {color:#3f4955;font-weight:bold;font-size:20px;margin:2px 0;padding:0;}
#colorbox.default .person-fancybox .text h4 {color:#888888;font-weight:300;margin:0 0 20px 0;padding:0;font-size:14px;}
#colorbox.default .person-fancybox .text p {color:#555555;font-weight:300;margin:0 0 20px 0;padding:10px;font-size:12px;overflow: auto;height: 130px;}
#colorbox.default .fancybox-skin {
background: #ffffff !important;
-webkit-border-radius: 0px !important;
-moz-border-radius: 0px  !important;
border-radius: 0px  !important;
}

#colorbox.default #cboxTopLeft,
#colorbox.default #cboxTopCenter,
#colorbox.default #cboxTopRight,
#colorbox.default #cboxMiddleLeft,
#colorbox.default #cboxMiddleRight,
#colorbox.default #cboxBottomLeft,
#colorbox.default #cboxBottomCenter,
#colorbox.default #cboxBottomRight
 {display:none !important;}

#colorbox.default #cboxOverlay, #colorbox.default #cboxWrapper {overflow:visible !important;}
#colorbox.default #cboxContent {
padding:10px;overflow:visible !important;
-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);	
}
#colorbox.default #cboxLoadedContent {overflow:visible !important;}
#colorbox.default #cboxClose {background:url('../images/default-close.png') no-repeat;height:32px;width:32px;position: absolute;top: -16px;right: -16px;
}








